@import './../../App';

#register{
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #error{
        width: 80%;
        max-width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 30px;
        margin-bottom: 10px;
        border-radius: 20px;
        border: solid 1px red;
        background-color: pink;
        @extend %default-text;
        #err{
            font-weight: bold;
        }
    }
    form{
        @include border;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        max-width: 600px;
        @extend %default-text;
        span{
            width: 100%;
            max-width: 300px;
            min-width: 250px;
            display: inline-block;
            box-sizing: border-box;
            padding: 21px;
            input{
                width: 100%;
                border-radius: 5px;
                @extend %default-text;
                color: black;
            }
        }
        #submit input{
            cursor: pointer;
        }
    }
}